.rodape{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(239, 184, 16);
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.rodape nav {
    display: flex;
    gap: 219px;
    justify-content: center;
}

@media(max-width:700px){ .rodape nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}
}


.rodape nav img{
    width: 120px;
    display: block;
}

@media(max-width:1100px){ .rodape nav img {
    width: 65px;
    display: block;
}}

.rodape nav a{
    width: 120px;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;

}